{% extends "website/layout.html" %}

{% block body %}
    <div class="container heading">
        <div class="row">
            <div class="col-12">
                <h1>Welcome to RNPFind</h1>
            </div>
        </div>
    </div>
    <div class="container search-bar">
        <form id = "search_form" action="{% url 'gene-page-redirector'%}">
            <div class="form-group form-inline justify-content-center">
                <input id="gene_name" type="text" name="gene_name" placeholder="Enter a gene name..."
                            class="form-control-sm">
                <button type="submit" id="search_button">Search</button>
            </div>
        </form>
    </div>

    {% if bad_gene %}
    <div class="container error">
        <div class="row">
            <div class="col-12">
                <p>Sorry, we don't know anything about {{bad_gene}} :(</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container analysed_genes">
        <h5>Genes analysed so far:</h5>
        {% for gene in analysed_genes %}
            <a href="{% url 'gene-page' gene.name %}"><div class="container analysed_gene">
                <div class="row">
                    <div class="col-12">
                        <h6>{{gene.name}}</h6>
                        <ul>
                            <li>Analyzed sequence length: <b>{{gene.size}}</b> bases</li>
                            <li>Total binding sites found: <b>{{gene.total_sites}}</b></li>
                            <li>Minimum unique RBPs identified: <b>{{gene.max_unique_rbps}}</b></li>
                        </ul>
                    </div>
                </div>
            </div></a>
        {% endfor %}
    </div>
{% endblock %}



