{% extends "website/layout.html" %}

{% block body %}
    <div class="container heading">
        <div class="row">
            <div class="col-12">
                <h1>Welcome to RNPFind</h1>
            </div>
        </div>
    </div>
    <div class="container search-bar">
        <form id = "search_form" action="{% url 'gene-page'%}">
            <div class="form-group">
                <input id="gene_name" type="text" name="gene_name" placeholder="Enter a gene name..."
                            class="form-control-sm">
                <button type="submit" id="search_button">Search</button>
            </div>
        </form>
    </div>

    {% if bad_gene %}
    <div class="container error">
        <div class="row">
            <div class="col-12">
                <p>Sorry, we don't know anything about {{bad_gene}} :(</p>
            </div>
        </div>
    </div>
    
    {% endif %}
{% endblock %}



