__pycache__
*.pyc
env/
db.sqlite3
website/output-data/
web/staticfiles/website/*
!web/staticfiles/website/styles.?css*
.DS_Store
.vscode/
data/
db.env
web.env
ro-data/
ucsc-tracks/
output-data/
.cache/
*.egg-info
dist/
ro-data
cache
jbrowse2
