h1 {
  font-size: 52px;
  text-align: center;
  margin-top: 20px;
}

h6, h5 {
  text-align: center;
}

.error p {
  text-align: center;
}

.information {
  margin-top: 40px;
}

p {
  text-align: center;
}

#search_form {
  margin-top: 30px;
}

#binding_summaries {
  margin-top: 30px;
}
#binding_summaries li {
  text-align: center;
  color: black;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heading {
  margin-top: 10vh;
  animation-name: fade;
  animation-direction: forwards;
  animation-duration: 3s;
}

#search_form {
  margin-bottom: 60px;
}
#search_form #search_button {
  height: 30px;
  padding-top: 0px;
  margin-bottom: 2px;
  margin-left: 20px;
  background-color: white;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 4px;
}
#search_form #search_button:hover {
  background-color: lightblue;
}
#search_form #gene_name {
  height: 30px;
  background-color: white;
  color: black;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
}
#search_form #gene_name:focus {
  outline: none;
}

.analysed_genes {
  margin-top: 60px;
}
.analysed_genes a {
  color: #FFFFFF;
  text-decoration: none;
}
.analysed_genes .analysed_gene {
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: lightgray;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding-top: 14px;
}
.analysed_genes h5 {
  margin-bottom: 60px;
}
.analysed_genes h6 {
  color: black;
}
.analysed_genes ul {
  list-style-type: none;
}
.analysed_genes li {
  text-align: center;
  color: black;
}