h1 {
    font-size: 52px;
    text-align: center;
    margin-top: 20px;
}

h6,h5 {
    text-align: center;
}

.error {
    p {
        text-align: center;
    }
}

.information {
    margin-top: 40px;
}

p {
    text-align: center;
}
#search_form {
    margin-top: 30px;
}

#binding_summaries {
    margin-top: 30px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.heading {
    margin-top: 30vh;
    animation-name: fade;
    animation-direction: forwards;
    animation-duration: 3s;
}

#search_form {
    margin-left: 30vw;
    #search_button {
        height: 30px;
        padding-top: 0px;
        margin-bottom: 2px;
        margin-left: 20px;
        background-color: white;
        color: black;
        border-color: black;
        border-width: 2px;
        border-radius: 4px;
    }
    #search_button:hover {
        background-color: lightblue;
    }

    #gene_name {
        height: 30px;
        background-color: white;
        color: black;
        border-color: black;
        border-width: 2px;
        border-radius: 0;
    }

    #gene_name:focus {
        outline: none;
    }
}